###############################################################################
# SEGGER Embedded Studio (SES)
###############################################################################

# Сессионные/пользовательские файлы IDE (локальные, в репо не нужны)
*.emSession
*.emProject.user
*.emModule.user
*.launch

###############################################################################
# Build output (у тебя это Output/...)
###############################################################################

/Output/
/_Debug*/
/_Release*/
build/
out/
output/

###############################################################################
# Compiled artifacts / intermediates
###############################################################################

# Объекты и зависимости компилятора
*.o
*.obj
*.d

# Библиотеки
*.a
*.lib

# Итоговые бинарники/карты/листы
*.elf
*.hex
*.bin
*.map
*.lst

# Логи
*.log

###############################################################################
# Editor/OS junk
###############################################################################
*~
*.bak
*.tmp
*.swp
*.swo

.DS_Store
Thumbs.db

.vscode/
.idea/

*.pdf

